* {
    font-family:sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.top {
    color: white;
    background-color:#1F2937;
    padding: 10px 200px 100px;
}

.hero {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#hero-text {
    font-size: 48px;
    margin-top: -9px;
}

.secondary {
    font-size: 18px;
    color: lightgrey;
}

.sign-up {
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px;
    border-style: none;
    width: 150px;
    margin-top: 10px;
}

#gray {
    height: auto;
    width: 400px;
    margin-left: 40px;
}

.planets, .captions {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 90px 350px 70px;
}

#brendan {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

#fraser {
    align-self: flex-end;
    margin-right: 100px;
    margin-top: -35px;
    font-size: 23px;
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.planets > *, .captions > *{
    height: auto;
    width: 175px;
    border-radius: 16px;
    font-size: 18px;
    color: gray;
}

h1 {
    text-align: center;
    font-weight: 900;
    margin: 50px 0px;
}