* {
    font-family:sans-serif;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.center-justify {
    display: flex;
    justify-content: center;
}

.center-align {
    align-items: center;
}

.white {
    color: white;
}

.rounded {
    border-radius: 10px;
}

.header {
    align-items: center;
    margin-bottom: 100px;
}

.top {
    background-color:#1F2937;
    padding: 10px 200px 100px;
}

.hero {
    margin-bottom: 10px;
}

#hero-text {
    font-size: 48px;
    margin-top: -9px;
}

.secondary {
    font-size: 18px;
    color: lightgrey;
}

.sign-up {
    background-color: #3882f6;
    padding: 10px;
    border-style: none;
    width: 150px;
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
}

#gray {
    height: auto;
    width: 400px;
    margin-left: 40px;
}

.planets, .captions {
    gap: 40px;
}

.quote {
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 90px 350px 70px;
}

#brendan {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

#fraser {
    align-self: flex-end;
    margin-right: 100px;
    margin-top: -35px;
    font-size: 23px;
    font-weight: 700;
}

.bottom {
    padding: 100px 200px;
}

.blue-box {
    background-color: #3882f6;
    padding: 20px 100px;
    width: 800px;
}

#action {
    font-size: 23px;
    margin-bottom: -15px;
    font-weight: 700;
}

.footer {
    text-align: center;
    background-color:#1F2937;
    padding: 40px 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.planets > *, .captions > *{
    height: auto;
    width: 175px;
    border-radius: 10px;
    font-size: 18px;
    color: gray;
}

h1 {
    text-align: center;
    font-weight: 900;
    margin: 50px 0px;
}

.blue-box button {
    border-color: white;
    border-style: solid;
    margin-left: 10px;
}