.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top {
    color: white;
    background-color:#1F2937;
}

.hero {
    font-size: 48px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.secondary {
    font-size: 18px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: auto;
    width: 300px;
}